<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Edit Chat: <%=chat._id%></h2>
    <p style="color: white;">This chat was sent by <%=chat.from%> to <%=chat.to%></p>
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea placeholder="Message" name="msg"><%=chat.msg%></textarea>
        <button style="background-color:#FFDE63; height: 40px; width: 150px; border:none; border-radius: 4px; ">Send message</button>
        <br>    
    </form>
</body>
</html>


